<div class="container">
    <div class="loginCard">
      <form #signupForm="ngForm">
        <h2 class="heading">Connexion</h2>

        <label class="label" id="email-label">Courriel</label>
          <input 
            [(ngModel)]="email"
            type="email" 
            name="email" 
            placeholder="Entrer votre adresse courriel" 
            class="formInput" />
          
        <label class="label" id="password-label">Mot de passe</label>
          <input type="password" 
            [(ngModel)]="password"
            name="password" 
            placeholder="Entrer votre mot de passe"
            class="formInput" />
        <label id="errorMsg">{{errorMsg}}</label>
          <button class="btn" 
                  id="btn-login" 
                  (click)="login()">
                  Se connecter
          </button>
      </form>
    </div>
</div>
