<div class="container">
    <div class="signUpCard">
     <form #signupForm="ngForm">
      <h2 class="heading">Inscription</h2>
  
      <label class="label">Courriel</label>
         <input 
         type="email" name="email"
         placeholder="Entrer votre adresse courriel" 
         [(ngModel)]="email" class="formInput"
         maxlength="60" required/>
  
      <label class="label">Mot de passe</label>
        <input 
          type="password" name="password"
          placeholder="Entrer un mot de passe" 
          [(ngModel)]="password" class="formInput" 
          required/>
  
      <label class="label">Nom d'utilisateur</label>
        <input 
          name="displayName"
          placeholder="Entrer un nom d'utilisateur" 
          [(ngModel)]="displayName" class="formInput"
          maxlength="12" required/>
      <label id="errorMsg">{{errorMsg}}</label>
      <label id="warningMsg">{{warningMsg}}</label>
        <button [disabled]="!signupForm.form.valid" 
                type="submit" (click)="signUp()"
                class="btn" id="btn-signUp">
                Confirmer l'inscription
        </button>
      </form>
    </div>
</div>